<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.phat_am"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="9" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@drawable/phat"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light" >
        <!-- Splash screen -->
        <activity
            android:name="com.example.phat_am.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
 
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data 
                android:name="android.app.searchable"
            	android:resource="@xml/searchable" />
            
        </activity>
        <!-- Main Activity -->
        <activity
            android:name="com.example.phat_am.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.example.phat_am.VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity android:name="com.example.phat_am.VideoViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity android:name=".SearchResultsActivity">
		    <intent-filter>
		        <action android:name="android.intent.action.SEARCH" />
		    </intent-filter>
		</activity>
		<activity android:name="com.example.showlistcontent.VideoMainActivity">
		</activity>
		<activity android:name="com.example.showlistcontent.VideoInfoActivity">
		</activity>
		<activity android:name="com.example.showlistcontent.list_video_activity">
		</activity>
		<activity android:name="com.example.utils.VideoViewCustom">
		</activity>
    </application>

</manifest>
